html, body {
  min-height: 100vh;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), 
  rgba(0, 0, 0, 0.5)), 
  url("./assets/img/hero-background.jpg");
  height: 50vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about {
  width: 100%;
  background-color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  color: white;
}

.card {
  position: relative;
  display: inline-block;
  margin: 35px;
  width: 25%;
}
